@import "tailwindcss";

@theme {
    /* Healthcare Theme */
    --color-primary: #0F766E;
    /* Teal */
    --color-secondary: #14B8A6;
    /* Light Teal */
    --color-accent: #06B6D4;
    /* Cyan */
    --color-background: #F8FAFC;
    /* Light Background */
    --color-dark: #0F172A;
    /* Slate */
}